{% extends 'plantilla.html'%}
{% load static %}
{% block css %}

<link rel="stylesheet" type= "text/css" href="{%static 'css/styles.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'catalog/css/group.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'catalog/css/group.css'%}">
{% endblock %}




{% block content %}
    <div class ="container-2">
        <div>
        {%for i in posts%}
            <div class="post">
               
                     {%if i.user.imagen%}
                     <img src="{{i.user.imagen.url}}" class="foto-perfil">
                    {%else%}
                     <img src="default" class="foto-perfil">
                    {%endif%}
                    <div class="nose">
                    <div class="cabeza">
                        <p class="username-post">{{i.user.username}}</p>
                                
                                

                        <div class="post-text">
                            <p>
                                {{i.content}}
                            </p>
                        </div>
                    </div>
                    <div class="botoness">
                        <div class="button-eliminate">
                            <button action="">
                                eliminar
                            </button>
                        </div>
                        <div class="button_editate">
                        
                            <button action="">
                                editar
                            </button>
                        </div>
                    </div> 
                    </div>
            </div>
        {%endfor%}
        </div>
        <form method="post">
            <div class="postear">
                <div class="make-post">
                    {%for field in form%}
                        {% csrf_token %}
                        {{ field.label_tag}}
                        {{ field }}
                        {{ field.errors}}
                    {% endfor %}
                </div>
                <button type="submit">publicar</button>
            </div>
        </form>
    </div>
     
    
{%endblock%}


{% block extraContent %}

    <div class="button-menu">
        <div class="button ">
            <button></button>
        </div>
        <div class="menu menu-close">
            {% for i in sections %}
                <div class="section">
                    <a href="{% url 'catalog:section' section.id %}">{{ section.name }}</a>
            {%endfor%}
        </div>
    </div>


    <script src="{% static 'catalog/js/sidemenu.js' %}"></script>
{%endblock%}


