{% extends 'plantilla.html'%}
{% load static %}
{% block css %}

<link rel="stylesheet" type="text/css" href="{%static 'css/styles.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'catalog/css/group.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'catalog/css/group.css'%}">
{% endblock %}




{% block content %}
<div class="container-2">
    <div>
        {%for i in posts%}
        <div class="post">
            
            {%if i.user.imagen%}
            {{i.id}}
            <img src="{{i.user.imagen.url}}" class="foto-perfil">
            
            {%else%}
            <img src="default" class="foto-perfil">
            {%endif%}

            <div class="cabeza" id="cabeza-{{i.id}}">
                <p class="username-post">{{i.user.username}}</p>
                <div class="post-text view">
                    <p>
                        {{i.content}}
                    </p>
                    <div>
                        
                    {% for video in i.videos.all %}
                        <p>{{ video.tittle }}</p>
                        {% if video.video %}
                        <video controls>
                            <source src="{{ video.video.url }}" type="video/mp4">
                        </video>
                        {% endif %}>
                    {% endfor %}
                    {% for imagen in i.imagen.all%}
                        {% if imagen.imagen %}
                            <img src="{{ imagen.imagen.url }}" alt="{{ imagen.tittle }}" style="max-width: 100%;" />
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div>
                        {% for imagen in i.imagenes.all %}
                            {% if imagen.imagen %}
                                <img src="{{ imagen.imagen.url }}" alt="{{ imagen.tittle }}" style="max-width: 100%;" />
                            {% endif %}
                        {% empty %}
                            <p>No hay imágenes en este post.</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="post-text edit">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{i.id}}">
                        <textarea name="content">{{i.content}}</textarea>
                        <button type="submit" id="EPBB-{{i.id}}"
                            formaction="{%url 'catalog:edit_post'%}">guardar</button>
                    </form>
                </div>
            </div>

            <div class="botoness">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{i.id}}">
                    <div class="button-eliminate">
                        <button type="submit" formaction="{%url 'catalog:eliminate_post'%}">
                            eliminar
                        </button>
                    </div>
                </form>
                <div class="button_editate">

                    <button id="EPb-{{i.id}}" onclick="toggleEdit({{i.id}})">
                        editar
                    </button>

                </div>


            </div>
        </div>
        {%endfor%}
    </div>
    <form method="post" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.non_field_errors }}
        {{ videoform.non_field_errors }}
        {{ imagenform.non_field_errors }}

        {{ videoform }}
        {{ imagenform }}

        <input type="hidden" name="user.id" value="{{ request.user.id }}">

        {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}

        <button type="submit">publicar</button>
    </form>
</div>


{%endblock%}


{% block extraContent %}

<div class="button-menu">
    <div class="button ">
        <button></button>
    </div>
    <div class="menu menu-close">
        {% for i in sections %}
        <div class="section">
            <a href="{% url 'catalog:section' section.id %}">{{ section.name }}</a>
            {%endfor%}
        </div>
    </div>


    <script src="{% static 'catalog/js/sidemenu.js' %}"></script>
    <script src="{% static 'catalog/js/edit_post.js' %}"></script>
    {%endblock%}