
<!-- usualy, the html needs tags like "<html>" "<docttype html>" but in this case is not necesary cause-->
<!-- we extend from plantilla html, that aready have those tags-->
{%extends "plantilla.html" %}

<!-- this  block is only used to change the title from the html-->
{% block title %}Home Catalog{% endblock %}
{% load static %}


<!-- this block is used to load the css, you could add css directly here, but is better to create a new -->
<!-- file in the static folder and link it here.-->


{%block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'catalog/css/styles.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'catalog/css/home.css'%}">
<script src="{% static 'catalog/js/scroll.js'%}"></script>
{%endblock%}




<!-- the block content is always to  write the html-->
<!-- notice that html like this dont have the usual-->
<!--  structure of html, that is cause they're extending from "plantilla.html"-->

{%block content%}
<div class="main">
    <div class="main-background overlay">
        <div class="main-tittle glowborder">
        <h1 class="main-tittle">SHARP MIND</h1>
    </div>

        <div class="main-text-container"> 
            <p class="main-text">
                habla y comparte con compañeros con los cuales
                compartes gustos, y estan interesados en 
                mejorar entre
            </p>
        </div>
    </div>
</div>


<div class="carousel-repeat">
    {%for categoria, grupo in grupos.items%}
    <h2>categoria </h2>
    <div style="position:relative;">
    <div class="carousel">
        <div class="container-3">
            <div class="products-list" id="1">
            {%for x in  grupo%}
                {% if x.imagen %}
                    <div class="product">
                    
                        <div class="img-container">
                            <a href="{%url 'orders:product_page' x.nombre x.id%}">
                                <img src="{{ x.imagen.url }}" alt="{{ x.nombre }}" >
                            </a>
                        </div>
                    
                        <div class="text">
                            <h4>{{ x.nombre }}</h4>
                            <p>{{ x.descripcion }}</p>
                            <div class="hidden-text">
                                <p>{{ x.descripcion }}</p>
                                <p>stock: {{ x.stock}}</p>
                            </div>
                        </div>
                    </div>
                {% elif  x.imagen_url %}
                    <div class="product">
                            
                            <div class="img-container">
                                <a href="{%url 'orders:product_page' x.nombre x.id%}">
                                <img src="{{ x.imagen_url }}" alt="{{ x.nombre }}">
                                </a>
                            </div>
                            
                        
                        <div class="text">
                            <h4>{{ x.nombre }}</h4>
                            <p>{{ x.descripcion }}</p>
                            <div class="hidden-text">
                                <p>{{ x.descripcion }}</p>
                                <p>stock: {{ x.stock}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="container-3">
            
            <div class="products-list" id="1">
            {%for x in  grupo%}
                {% if x.imagen %}
                    <div class="product">
                    
                        <div class="img-container">
                            <a href="{%url 'orders:product_page' x.nombre x.id%}">
                                <img src="{{ x.imagen.url }}" alt="{{ x.nombre }}" >
                            </a>
                        </div>
                    
                        <div class="text">
                            <h4>{{ x.nombre }}</h4>
                            <p>{{ x.descripcion }}</p>
                            <div class="hidden-text">
                                <p>{{ x.descripcion }}</p>
                                <p>stock: {{ x.stock}}</p>
                            </div>
                        </div>
                    </div>
                {% elif  x.imagen_url %}
                    <div class="product">
                            
                            <div class="img-container">
                                <a href="{%url 'orders:product_page' x.nombre x.id%}">
                                <img src="{{ x.imagen_url }}" alt="{{ x.nombre }}">
                                </a>
                            </div>
                            
                        
                        <div class="text">
                            <h4>{{ x.nombre }}</h4>
                            <p>{{ x.descripcion }}</p>
                            <div class="hidden-text">
                                <p>{{ x.descripcion }}</p>
                                <p>stock: {{ x.stock}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    </div>
    {%endfor%}
</div>


<div class="dual-conatiner">
    <div>
        <h1> comodidad para tu mascota</h1>
        <p> con los mejores materiales que mantienen a tus macotas  sin rio
        </p>
    </div> 
    <div>
        <h1>envios a toda bogota</h1>
        <p> domicilios y envios nacionales</p>
    </div> 
</div>

<div class="footer">
    <div class="footer-container">
        <h1>alaskapets</h1>
        <p>para darle amor a tu mascota</p>
        <div class="redes-sociales">
            <div></div>
            <div></div>
            <div></div>
            <div></div>

        </div>
    </div>

    <div class="footer-container">
    <h1>sobre alaskapets</h1>
    <p>nosotros</p>
    <p>como compra</p>
    <p> punto fisico</p>
    </div>
    
    <div class="footer-container">
        <h1>atencion al cliente</h1>
        <p>whatsap</p>
        <p>telefono</p>
        <p>correo </p>
        <p>horario:</p>
    </div>
</div>



{%endblock%}