.button-menu .button button{
    
    height: 100%;
    width: 100%;
    border-radius: 20px
}

.button-menu{
    display: flex;
    position: absolute;
    top:150px;
    left: 100px;
    
}
.button-menu .menu{
    position:absolute;
    left: -100px;
    top:0;
    height: 100vh;
    width: 400px;
    background-color: bisque;
    border-radius: 20px;
    z-index: 5;
}
.button-menu .button{
    border-radius: 10px;
    height: 20px;
    width: 50px;
    z-index: 5;

}




.button-menu .menu-close{
    display:none;
}
.button-menu .menu-open{
    display:flex;
    
}

.post{
    display: flex;
    position:relative
}
.container-2 {display: flex; flex-direction: column; align-items: flex-start;
margin: 0px;
padding: 20px;
width: 1200px;
max-width: 95%;
min-height: 500px;
margin-bottom: 20px;
}



.container {background: linear-gradient(
    color-mix(in srgb, violet 80%, transparent),
    color-mix(in srgb, purple 60%, transparent));
    margin-top: 50px;
}

.foto-perfil {border: solid red 4px;
border-radius: 50%;
height: 60px;
width: 60px;
object-fit: cover;
}

.make-post {width:50% ;
padding-left: 500px ;
 }